<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126330800876-56cs4h0lso48cd2mtl17lfgvjguh24th.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126330800876-56cs4h0lso48cd2mtl17lfgvjguh24th</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rJxEcSrMrrp0bjUKPLoIyZmosNdurUI</string>
	<key>GCM_SENDER_ID</key>
	<string>126330800876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>concise-ion-368606</string>
	<key>STORAGE_BUCKET</key>
	<string>concise-ion-368606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126330800876:ios:2d19623f0a9e8cb37173c9</string>
</dict>
</plist>